* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1340px;
    margin: 0 auto;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* ********************************* */

nav {
    background-color: lightslategray;
    padding: 20px 0;

    .main_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        display: flex;
        gap: 25px;
    }

    a {
        color: #fff;
        font-size: 22px;

        &:hover {
            color: red;
        }
    }

    .logo img {
        width: 80px;
    }

    .burger {
        display: none;

        button {
            font-size: 30px;
        }

        button:focus {
            +.burger_menu {
                translate: 0;
            }
        }

        .burger_menu {
            background-color: lightseagreen;
            position: fixed;
            right: 0;
            padding: 25px;
            transition: .5s;
            width: 100%;
            translate: 100%;
        }
    }
}

/* 
@media print {
    nav{
        a{
            font-size: 10px;
        }
    }
} */

@media screen and (max-width:1250px) {
    nav a {
        font-size: 18px;
    }
}

@media screen and (max-width:1060px) {
    .container {
        padding: 0 15px;
    }

    nav {
        .menu {
            display: none;
        }

        .burger {
            display: block;
        }
    }
}

/* ************************* */

.gatos {
    padding: 60px 0;
    background-color: #dfdfdf;
}

.cards {
    display: grid;
    /* grid-template-columns: repeat(auto-fill , minmax(400px , 1fr)); */
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.card {
    box-shadow: 0 0 10px gray;
    grid-column: 1 span;
}


@media all and (max-width:1024px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .card_big {
        grid-column: 2 span;
    }
}

@media (max-width:568px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .card_big {
        grid-column: 1 span;
    }
}